boto3==1.34.117
botocore==1.34.117
fuzzywuzzy==0.18.0
jmespath==1.0.1
Levenshtein==0.25.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
rapidfuzz==3.9.3
s3transfer==0.10.1
six==1.16.0
urllib3==2.2.1
